In [1]:
import pandas as pd
import numpy as np
import torch
from torch import nn

In [2]:
# data = pd.read_csv('data/BTCUSDT_5MIN_data.csv')
# data

In [3]:
data = {
    'Timestamp':list(range(1, 11)),
     'Open':list(range(1, 11)),
     'High':list(range(1, 11)),
     'Low':list(range(1, 11)),
     'Close':list(range(1, 11)),
     'Volume':list(range(1, 11)),
}
data = pd.DataFrame(data)
data

   Timestamp  Open  High  Low  Close  Volume
0          1     1     1    1      1       1
1          2     2     2    2      2       2
2          3     3     3    3      3       3
3          4     4     4    4      4       4
4          5     5     5    5      5       5
5          6     6     6    6      6       6
6          7     7     7    7      7       7
7          8     8     8    8      8       8
8          9     9     9    9      9       9
9         10    10    10   10     10      10

In [4]:
import environment
from environment import TradingEnvironment
import importlib
importlib.reload(environment)

env = TradingEnvironment(data=data,
                         initial_balance=35)

In [5]:
env.step(action=-1, volume=5)
print()
env.print_status()

New position opened. {'p_type': -1, 'owned_volume': 5, 'purchase_price': 1}
Transaction Type: -1 | Volume: 5 | Price: 1 | Cost: 5

Current state: [1 1 1 1 1 1]
Open position: {'p_type': -1, 'owned_volume': 5, 'purchase_price': 1}
Balance: 30
Portfolio value: 5

In [6]:
env.step(action=-1, volume=1)
print()
env.print_status()

Position updated. {'p_type': -1, 'owned_volume': 6, 'purchase_price': 1.1666666666666667}
Transaction Type: -1 | Volume: 1 | Price: 2 | Cost: 2

Current state: [2 2 2 2 2 2]
Open position: {'p_type': -1, 'owned_volume': 6, 'purchase_price': 1.1666666666666667}
Balance: 28
Portfolio value: 2.0

In [7]:
env.step(action=-1, volume=1)
print()
env.print_status()

Position updated. {'p_type': -1, 'owned_volume': 7, 'purchase_price': 1.4285714285714286}
Transaction Type: -1 | Volume: 1 | Price: 3 | Cost: 3

Current state: [3 3 3 3 3 3]
Open position: {'p_type': -1, 'owned_volume': 7, 'purchase_price': 1.4285714285714286}
Balance: 25
Portfolio value: -1.0

In [8]:
env.step(action=0, volume=0)
print()
env.print_status()

Hold

Current state: [4 4 4 4 4 4]
Open position: {'p_type': -1, 'owned_volume': 7, 'purchase_price': 1.4285714285714286}
Balance: 25
Portfolio value: -8.0

In [9]:
env.step(action=1, volume=8)
print()
env.print_status()

Selling 8 of Position Type -1 for 5. Transaction profit: -25.0
Position closed
New position opened. {'p_type': 1, 'owned_volume': 1, 'purchase_price': 5}
Transaction Type: 1 | Volume: 1 | Price: 5 | Cost: 5

Current state: [5 5 5 5 5 5]
Open position: {'p_type': 1, 'owned_volume': 1, 'purchase_price': 5}
Balance: 5.0
Portfolio value: 5

In [10]:
env.step(action=0, volume=0)
print()
env.print_status()

Hold

Current state: [6 6 6 6 6 6]
Open position: {'p_type': 1, 'owned_volume': 1, 'purchase_price': 5}
Balance: 5.0
Portfolio value: 6