In [1]:
import pandas as pd
import numpy as np
import torch
from torch import nn

In [2]:
data = pd.read_csv('data/BTCUSDT_5MIN_data.csv')
data

                 Timestamp      Open      High       Low     Close     Volume
0      2023-01-01 00:00:00  16541.77  16544.76  16527.51  16535.38  486.60903
1      2023-01-01 00:05:00  16534.91  16540.43  16522.55  16526.67  391.19043
2      2023-01-01 00:10:00  16526.67  16530.87  16520.00  16520.69  294.73889
3      2023-01-01 00:15:00  16521.26  16537.73  16517.72  16534.94  481.18777
4      2023-01-01 00:20:00  16534.94  16540.66  16532.33  16535.54  309.53189
...                    ...       ...       ...       ...       ...        ...
78892  2023-10-01 23:40:00  27940.87  27971.66  27933.45  27968.66  158.49870
78893  2023-10-01 23:45:00  27968.66  27973.01  27941.16  27970.41  114.56755
78894  2023-10-01 23:50:00  27970.41  28000.00  27958.60  27978.10  134.47609
78895  2023-10-01 23:55:00  27978.10  27992.58  27953.39  27992.57  123.49422
78896  2023-10-02 00:00:00  27992.58  28062.43  27969.66  27980.71  692.66397

[78897 rows x 6 columns]

In [3]:
data = {
    'Timestamp':list(range(1, 6)),
     'Open':list(range(1, 6)),
     'High':list(range(1, 6)),
     'Low':list(range(1, 6)),
     'Close':list(range(1, 6)),
     'Volume':list(range(1, 6)),
}
data = pd.DataFrame(data)
data

   Timestamp  Open  High  Low  Close  Volume
0          1     1     1    1      1       1
1          2     2     2    2      2       2
2          3     3     3    3      3       3
3          4     4     4    4      4       4
4          5     5     5    5      5       5

In [4]:
import environment
from environment import TradingEnvironment
import importlib
importlib.reload(environment)

env = TradingEnvironment(data=data,
                         initial_balance=10)

In [5]:
env.print_status()

Step: 0
State: [1 1 1 1 1 1]
Current balance: 10
Portfolio value: 0

In [6]:
# Perform a step where nothing happens
env.step(action=0, share=0)
env.print_status()

There are no open positions.
Step: 1
State: [2 2 2 2 2 2]
Current balance: 10
Portfolio value: 0

In [7]:
# Buy Long
env.step(action=1, share=1)
env.print_status()

New position opened: [1, 1, 3]
Step: 2
State: [3 3 3 3 3 3]
Current balance: 7
Portfolio value: 3

In [8]:
# Hold
# for i in range(10000):
#     env.step(action=0, share=0)
    # env.print_status()

In [9]:
env.step(action=0, share=0)

You hold: [1, 1, 3]

0

In [10]:
env.print_status()

Step: 3
State: [4 4 4 4 4 4]
Current balance: 7
Portfolio value: 4

In [11]:
# Buy Short
env.step(action=-1, share=1)
env.print_status()

Share sold: (0, 0, 0)
Transaction outcome: 2
Step: 4
State: [5 5 5 5 5 5]
Current balance: 9
Portfolio value: 0

In [9]:
434.4242+565.5758000000001

1000.0

In [10]:
env.step(action=0, share=0.02)
env.print_status()

There are no open positions.
Step: 10004
State: ['2023-02-04 17:40:00' 23397.2 23425.98 23396.88 23421.06 475.49464]
Current balance: 711.1186000000001
Portfolio value: 288.88139999999987

In [11]:
# Buy more Short
env.step(action=-1, share=0.02)
env.print_status()

New position opened: [-1, 0.02, 23421.06]
Step: 10005
State: ['2023-02-04 17:45:00' 23421.06 23463.99 23416.63 23444.05 922.97363]
Current balance: 242.69740000000007
Portfolio value: 757.3026